.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logoContainer{
    width: 210px;
    height: 68px;
  
    img{
      width: 100%;
      height: 100%;
    }
  }
}