.navigation{
  ul{
    display: flex;

    a {
      text-decoration: none;
      padding: 10px;

      li {
        color: $color-3;
        font-weight: 500;
        font-size: 1.5rem;
        transition: 0.2s;
        cursor: pointer;
      }
    }

  }
}