main{
  margin: 0 50px;

  .infosContainer,
  .tagsAndRatingContainer,
  .alwaysShow{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    h2,
    .hostContainer p{
      color: $color-1;
    }

    .property{
      font-weight: 500;
    }


    .hostContainer{
      display: flex;
      align-items: center;
      font-weight: 500;
      gap: 15px;

      .hostPic{
        width: 64px;
        height: 64px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img{
          object-fit: cover;
          width: 100%;
          height: auto;  
        }
      }
    }

  .tagsAndRatingContainer{
    margin: 15px 0;

    .tagsContainer ul{
      display: flex;
      gap: 1rem;

      li{
        height: 25px;
        min-width: 115px;
        border-radius: 10px;
        background: $color-1;
        color: $color-2;
        font-size: 0.875rem;
        font-weight: 700;
        display: grid;
        place-content: center;
        padding: 8px;
      }
    }

    .ratingContainer{
      font-size: 1.5rem;
      color: #E3E3E3;

      span{

        margin: 0 5px;
      }
    }
  }


  .dropdownsContainer{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;

    .dropdown{
      display: grid;
      grid-template-rows: 0fr;
      
      .alwaysShow{
        background: $color-1;
        border-radius: 10px 10px 0 0;
        color: $color-2;
        font-weight: 700;
        padding: 10px 20px 10px 10px; 


        button{
          cursor: pointer;
          transform: rotate(90deg);
          background: none;
          border: none;
          font-size: 1.2rem;
          color: $color-2;
        }
        .clicked{
          transform: rotate(270deg);
        }
       
      }

      .content{
        padding: 20px 20px 10px 20px;
        background: #FAFAFA;
        border-radius: 0 0 10px;
      }
    }

  }
}